{% extends "base.html" %}

{% block mycontent %}
    <!-- About Us Section -->
    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container bottomContainer">
          <div class="allText bottomText">
            <p class="text-blk headingText">
              About Us
            </p>
            <p class="text-blk subHeadingText">
              SpartanSleep
            </p>
            <p class="text-blk description">
                We are the leading online accommodation site. Book with us to experience
                    Spartan Luxury - where refined simplicity meets grand opulence. So 
                    when it comes to booking the perfect hotel, vacation rental, resort,
                    apartment, guest house, or tree house, we have you covered - The Spartan Way.</p>
            <a>
              <button class="explore">
                View More
              </button>
            </a>
          </div>
          <div class="logoContainer">
            <img class="logo" src="/static/css/images/spartansleep.png">
            <img class="dotsImg image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg">
          </div>
        </div>
      </div>
    <!-- About Us Section End -->
    <!-- Team Card Section -->
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="static/css/images/Team Photos/travis.jpg" alt="Travis" style="width:100%">
            <div class="container">
              <h2>Travis Lincoln</h2>
              <p class="title">Project Manager &amp; Presenter &amp; Marketer &amp; Tester &amp; Documenter</p>
              <p>3rd Year, Softare Engineering Major.</p>
              <p>travis.lincoln@sjsu.edu</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="static/css/images/Team Photos/bianca.jpeg" alt="Bianca" style="width:100%">
            <div class="container">
              <h2>Bianca Cervantes</h2>
              <p class="title">Backend Developer &amp; Marketer</p>
              <p>4th year, Software Engineering Major.</p>
              <p>bianca.cervantes@sjsu.edu</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="static/css/images/Team Photos/alvin.jpg" alt="Alvin" style="width:100%">
            <div class="container">
              <h2>Alvin Dang</h2>
              <p class="title">Frontend Developer &amp; Documenter</p>
              <p>3rd Year, Software Engineering Major.</p>
              <p>alvin.dang@sjsu.edu</p>
              <p><button class="button">LinkedIn</button></p>
            </div>
          </div>
        </div> 
      
        <div class="column">
            <div class="card">
            <img src="static/css/images/placeholder.jpeg" alt="Inderbir" style="width:100%">
            <div class="container">
                <h2>Inderbir Gill</h2>
                <p class="title">Backend Developer &amp; Documenter</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
            <img src="static/css/images/Team Photos/pulos.jpg" alt="Pulos" style="width:100%">
            <div class="container">
                <h2>Pulos Gorgees</h2>
                <p class="title">Presenter &amp; Tester &amp; Documenter</p>
                <p>5th Year, Software Engineering major.</p>
                <p>pulos.gorgees@sjsu.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>


        <div class="column">
            <div class="card">
            <img src="static/css/images/Team Photos/ekansh.jpg" alt="Ekansh" style="width:100%">
            <div class="container">
                <h2>Ekansh Gupta</h2>
                <p class="title">Frontend &amp; Backend Developer</p>
                <p>3rd Year, Software Engineering Major.</p>
                <p>ekansh.gupta@sjsu.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>


        <div class="column">
            <div class="card">
            <img src="static/css/images/Team Photos/anh.jpg" alt="Anh" style="width:100%">
            <div class="container">
                <h2>Anh Nguyen</h2>
                <p class="title">Frontend &amp; Backend Developer, &amp; Documenter</p>
                <p>2nd Year, Software Engineering Major.</p>
                <p>anh.h.nguyen01@sjsu.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div> 

        <div class="column">
            <div class="card">
            <img src="static/css/images/Team Photos/cameron.jpg" alt="Cameron" style="width:100%">
            <div class="container">
                <h2>Cameron Harris</h2>
                <p class="title">Frontend &amp; Backend Developer, &amp; Tester</p>
                <p>4th Year, Software Engineering Major.</p>
                <p>cameron.m.harris@sjsu.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
            <img src="static/css/images/Team Photos/krishna.png" alt="Krishna" style="width:100%">
            <div class="container">
                <h2>Krishna Babani</h2>
                <p class="title">Frontend Developer &amp; Tester</p>
                <p>3rd Year, Software Engineering.</p>
                <p>krishna.babani@sjsu.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div> 

        <div class="column">
            <div class="card">
            <img src="static/css/images/Team Photos/zach.jpg" alt="Zachary" style="width:100%">
            <div class="container">
                <h2>Zach Woo</h2>
                <p class="title">Presenter &amp; Tester</p>
                <p>4th Year, Software Engineering Major.</p>
                <p>zachary.woo@sjsu.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>
    </div> 
    <!-- Team Card Section End -->

    <!-- Gallery Section Begin -->
    <!--<section class="gallery-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Gallery</span>
                        <h2>Discover Our Work</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="gallery-item set-bg" data-setbg="img/gallery/gallery-1.jpg">
                        <div class="gi-text">
                            <h3>Room Luxury</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="gallery-item set-bg" data-setbg="img/gallery/gallery-3.jpg">
                                <div class="gi-text">
                                    <h3>Room Luxury</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="gallery-item set-bg" data-setbg="img/gallery/gallery-4.jpg">
                                <div class="gi-text">
                                    <h3>Room Luxury</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="gallery-item large-item set-bg" data-setbg="img/gallery/gallery-2.jpg">
                        <div class="gi-text">
                            <h3>Room Luxury</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Gallery Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="img/footer-logo.png" alt="">
                                </a>
                            </div>
                            <p>We inspire and reach millions of travelers<br /> across 90 local websites</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Contact Us</h6>
                            <ul>
                                <li>(12) 345 67890</li>
                                <li>info.colorlib@gmail.com</li>
                                <li>856 Cordia Extension Apt. 356, Lake, United State</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>New latest</h6>
                            <p>Get the latest updates and offers.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Environmental Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
{% endblock %}