{% extends "base.html" %}

{% block mycontent %}
<div class="hotel-cards">
  {% for hotel in hotel_data.data %}
    <div class="hotel-card">
      <div class="hotel-card-image"></div>
      <div class="hotel-card-details">
        <h3 class="hotel-card-name">{{ hotel.name }}</h3>
        <p class="hotel-card-location">{{ hotel.address.countryCode }}</p>
        <p class="hotel-card-distance">Distance: {{ hotel.distance.value }} {{ hotel.distance.unit }}</p>
        <button class="hotel-card-book-now-button">Book Now</button>
      </div>
    </div>
  {% endfor %}
</div>

<!--<div class="hotel-card">
  <div class="hotel-card-image"></div>
  <div class="hotel-card-details">
    <h3 class="hotel-card-name">Sonesta Select San Jose Airport</h3>
    <p class="hotel-card-location">San Jose, CA</p>
    <p class="hotel-card-price">$122</p>
    <button class="hotel-card-book-now-button">Book Now</button>
  </div>
</div>-->
<!--<div class="hotel-grid">
    {% for hotel in hotels %}
        <div class="hotel-card">
            <img src="{{ hotel.image_url }}" alt="{{ hotel.name }}" />
            <h2>{{ hotel.name }}</h2>
            <p>Rating: {{ hotel.rating }}</p>
            <p>Location: {{ hotel.location }}</p>
            <p>Price: ${{ hotel.price }}</p>
        </div>
    {% endfor %}
</div>-->

<!-- Footer Section Begin -->
<footer class="footer-section">
            <div class="container">
                <div class="footer-text">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="ft-about">
                                <div class="logo">
                                    <a href="#">
                                        <img src="img/footer-logo.png" alt="">
                                    </a>
                                </div>
                                <p>We inspire and reach millions of travelers<br /> across 90 local websites</p>
                                <div class="fa-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1">
                            <div class="ft-contact">
                                <h6>Contact Us</h6>
                                <ul>
                                    <li>(12) 345 67890</li>
                                    <li>info.colorlib@gmail.com</li>
                                    <li>856 Cordia Extension Apt. 356, Lake, United State</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1">
                            <div class="ft-newslatter">
                                <h6>New latest</h6>
                                <p>Get the latest updates and offers.</p>
                                <form action="#" class="fn-form">
                                    <input type="text" placeholder="Email">
                                    <button type="submit"><i class="fa fa-send"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <ul>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Terms of use</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Environmental Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-5">
                            <div class="co-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        </div>
                    </div>
                </div>
            </div>
</footer>

{% endblock %}

