{% extends "base.html" %}
{% block head %}
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/reservation.css') }}" />
{% endblock %}
{% block mycontent %}
    <input type="hidden" id="anPageName" name="page" value="reservation" />
    <div class="reservation screen">
      <div class="pricing-2qMuan">
        <div class="x228-fJQx2o">${{ price }}</div>
        <div class="starts-from-fJQx2o">Starts from:</div>
      </div>
      <div class="hotel-name-2qMuan">
        <div class="san-jose-FEhXH1">{{hotel_data.address.countryCode}}, {{hotel_data.iataCode }}</div>
        <h1 class="title-FEhXH1">{{hotel_data.name}}</h1>
      </div>
      <div class="number-of-rooms-2qMuan">
        <div class="x2-bedroom-0r0Ge1 avenir-heavy-normal-black-18px"> {{guests}} Guests </div>
        <div class="group-3-t2pGgE">
            <div class="oval"></div>
            <div class="view-pjPGy5 view">
              <img
                class="shape-XZRxSO shape"
                src="{{ url_for('static',filename='img/reservation/reservation-shape-BA248263-3DAB-4556-B1B9-6B81AE9FCB4E@2x.png') }}"
                alt="Shape"
              />
            </div>
        </div>
      </div>
      <div class="number-of-bathrooms-2qMuan">
        <div class="x2-bathroom-t2pGgE avenir-heavy-normal-black-18px">{{rooms}} Rooms</div>
        <div class="group-3-t2pGgE">
          <div class="oval"></div>
          <div class="view-pjPGy5 view">
            <img
              class="shape-XZRxSO shape"
              src="{{ url_for('static',filename='img/reservation/reservation-shape-17DCF4AD-2DA2-4DC5-AFF8-B068EAF8A46F@2x.png') }}"
              alt="Shape"
            />
          </div>
        </div>
      </div>
      <div class="area-2qMuan">
        <div class="x1250-ft-6TipRZ avenir-heavy-normal-black-18px">1250 ft²</div>
        <div class="group-4-6TipRZ">
          <div class="oval-copy-2-tW9DmP"></div>
          <div class="view-tW9DmP view">
            <img
              class="shape-HUShFb shape"
              src="{{ url_for('static',filename='img/reservation/reservation-shape-5C599CA9-BE2A-490B-843E-57B44E230ACF@2x.png') }}"
              alt="Shape"
            />
          </div>
        </div>
      </div>
      <div class="security-2qMuan">
        <div class="highly-secured-Gnn1vF avenir-heavy-normal-black-18px">Highly Secured</div>
        <div class="group-5-Gnn1vF">
          <div class="oval-copy-3-C5IOHv"></div>
          <div class="view-C5IOHv view">
            <img
              class="shape-u1G9uz shape"
              src="{{ url_for('static',filename='img/reservation/reservation-shape-6E7FFBE5-19F5-4D81-89A3-2ED36ADCFB61@2x.png') }}"
              alt="Shape"
            />
          </div>
        </div>
      </div>
      <div class="review-box-2qMuan">
        <div class="rectangle-Hipt0j"></div>
        <div class="reviews-Hipt0j">Reviews</div>
        <div class="group-10-Hipt0j">
          <div class="rectangle-prGmwI"></div>
          <div class="travis-prGmwI avenir-heavy-normal-black-18px">Travis</div>
          <p class="near-to-the-city-fr-prGmwI avenir-normal-delta-12px">
            Near to the city. Friendly staff, clean and calm bathrooms
          </p>
        </div>
        <div class="group-11-Hipt0j">
          <div class="rectangle-copy-hjoacg"></div>
          <div class="krishna-hjoacg avenir-heavy-normal-black-18px">Krishna</div>
          <p class="near-to-the-city-fr-copy-hjoacg avenir-normal-delta-12px">
            Near to the city. Friendly staff, clean and calm bathrooms
          </p>
        </div>
        <div class="group-12-Hipt0j">
          <div class="rectangle-copy-2-w9WsLt"></div>
          <div class="bianca-w9WsLt avenir-heavy-normal-black-18px">Bianca</div>
          <p class="near-to-the-city-fr-copy-2-w9WsLt avenir-normal-delta-12px">
            Near to the city. Friendly staff, clean and calm bathrooms
          </p>
        </div>
        <div class="group-13-Hipt0j">
          <div class="rectangle-copy-3-dEsAb9"></div>
          <div class="tim-dEsAb9 avenir-heavy-normal-black-18px">Tim</div>
          <p class="near-to-the-city-fr-copy-3-dEsAb9 avenir-normal-delta-12px">
            Near to the city. Friendly staff, clean and calm bathrooms
          </p>
        </div>
      </div>
      <div class="description-2qMuan description">
        <div class="description-FqgPgx description">Description</div>
        <p class="fast-secure-no-bo-FqgPgx">
          Fast &amp; Secure, No Booking or Cancellation Fee. Book Your Hotel Online and Save. Choose from Hundreds of
          Thousands of Properties in Over 200 Countries and Territories, Travel Guides, Exclusive Deals, Luxury Hotels.
          Check Photos. Budget Hotels. Earn Reward Nights. <br>
          <br>Check In: {{ checkIn }}
          <br>Check Out: {{ checkOut }}
          <br>Guests: {{ guests }}
          <br>Rooms: {{ rooms }}
        </p>
      </div>    
      <div class="hotel-header-image-2qMuan">
        <div class="rectangle-0rin7r"></div>
        app/static/img/reservation/reservation-url-6F03EA39-B70A-4E6B-BE00-538C335CD152.jpg
        <img class="url-0rin7r" 
        src="{{ url_for('static',filename='img/reservation/reservation-url-6F03EA39-B70A-4E6B-BE00-538C335CD152.jpg') }}" alt="url" />
      </div>
    </div>
    <button class="hotel-card-book-now-button" data-hotel-id="{{ hotel_data.hotelId }}" data-check-in="{{ checkIn }}" data-check-out="{{ checkOut }}" data-guests="{{ guests }}" data-rooms="{{ rooms }}" data-price="{{ price }}">Book Now</button>
    <div class="book-now-modal">
        <div class="modal-content">
            <span id="closeModalBtn" class="close">&times;</span>
            <h5>Your payment options:</h5>
            <div class="modal-options">
                <div>
                    <h6>Pay Now</h6>
                    <ul>
                        <li>We will process your payment in your local currency</li>
                        <li>More ways to pay: use Debit/Credit card</li>
                    </ul>
                    <button id="payNowBtn" data-hotel-id="" onclick="goToCheckout('pay-now')">Pay Now</button>
                </div>
                <div>
                    <h6>Rewards Available</h6>
                    <ul>
                        <li>Free Stay</li>
                    </ul>
                    <button id="payLaterBtn" data-hotel-id="" onclick="goToCheckout('pay-later')">Redeem Rewards</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var modal = document.querySelector('.book-now-modal');
        var closeModalBtn = document.getElementById('closeModalBtn');
    
        // Function to open the modal
        function openModal() {
            modal.style.display = 'block';
        }
    
        // Function to close the modal
        function closeModal() {
            modal.style.display = 'none';
        }
    
        // Attach click event to all 'Book Now' buttons
        var bookNowButtons = document.querySelectorAll('.hotel-card-book-now-button');
        // Assuming each hotel card has a data attribute 'data-hotel-id'
        bookNowButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var hotelId = this.dataset.hotelId;
            var checkIn = this.dataset.checkIn;
            var checkOut = this.dataset.checkOut;
            var guests = this.dataset.guests;
            var rooms = this.dataset.rooms;
            var price = this.dataset.price;

            var payNowBtn = document.getElementById('payNowBtn');
            payNowBtn.dataset.hotelId = hotelId;
            payNowBtn.dataset.checkIn = checkIn;
            payNowBtn.dataset.checkOut = checkOut;
            payNowBtn.dataset.guests = guests;
            payNowBtn.dataset.rooms = rooms;
            payNowBtn.dataset.price = price;
            // Debugging
            console.log('Line 179: checkIn:', checkIn);
            console.log('checkOut:', checkOut);
            console.log('guests:', guests);
            console.log('rooms:', rooms);
            console.log('hotelId:', hotelId);
            console.log('price:', price);

            var payLaterBtn = document.getElementById('payLaterBtn');
            payLaterBtn.dataset.hotelId = hotelId;
            payLaterBtn.dataset.checkIn = checkIn;
            payLaterBtn.dataset.checkOut = checkOut;
            payLaterBtn.dataset.guests = guests;
            payLaterBtn.dataset.rooms = rooms;
            payLaterBtn.dataset.price = price;
            
            // Debugging
            console.log('Line 193: checkIn:', checkIn);
            console.log('checkOut:', checkOut);
            console.log('guests:', guests);
            console.log('rooms:', rooms);
            console.log('hotelId:', hotelId);
            console.log('price:', price);
            openModal();
        });
    });
    
        // Close the modal when the close button is clicked
        closeModalBtn.addEventListener('click', closeModal);
    
        // Close the modal if the user clicks outside of it
        window.addEventListener('click', function(event) {
            if (event.target === modal) {
                closeModal();
            }
        });
    });
    
    function goToCheckout(checkoutType) {
        var hotelId = document.getElementById('payNowBtn').dataset.hotelId; // Both buttons have the same hotel ID
        var checkIn = document.getElementById('payNowBtn').dataset.checkIn;
        var checkOut = document.getElementById('payNowBtn').dataset.checkOut;
        var guests = document.getElementById('payNowBtn').dataset.guests;
        var rooms = document.getElementById('payNowBtn').dataset.rooms;
        var price = document.getElementById('payNowBtn').dataset.price;

        // Debugging
        console.log('Line 221: goToCheckout: checkIn:', checkIn);
        console.log('checkOut:', checkOut);
        console.log('guests:', guests);
        console.log('rooms:', rooms);
        console.log('hotelId:', hotelId);
        console.log('price:', price);

        if (hotelId) {
            var checkoutUrl = '/checkout/' + checkoutType + '/' + hotelId +
                '?checkIn=' + checkIn + '&checkOut=' + checkOut + 
                '&guests=' + guests + '&rooms=' + rooms + '&price=' + price;
            window.location.href = checkoutUrl;
        } else {
            console.error('Hotel ID is not set');
        }
    } 
    </script>    
{% endblock %}
